[submodule "mscatalog"]
	path = mscatalog
	url = https://github.com/BernardoWitkoski/mscatalog.git
[submodule "mscheckout"]
	path = mscheckout
	url = https://github.com/BernardoWitkoski/mscheckout
[submodule "mshistory"]
	path = mshistory
	url = https://github.com/BernardoWitkoski/mshistory.git
[submodule "msbff-shop"]
	path = msbff-shop
	url = https://github.com/BernardoWitkoski/msbff-shop.git
